#                                              Assignment_1

### Q1.In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

*

'hello'

-87.8

    -

/

    +

6

### Ans1. 
Values are 'hello', -87.8 & 6

Expression are *,-,+ & /

### Q2. What is the difference between string and variable?

### Ans2.
String: A string is a data type that represents a sequence of characters. For example, "Hello, world!" and "112233" are strings.

Variable: A variable is a storage location identified by a name that holds a value. The value can be of any data type, including strings, integers, floats, objects, etc.

### Q3. Describe three different data types.

### Ans3.
1. Integer (int) :- An integer is a whole number without any decimal points. It can be positive, negative, or zero.

2. Float (float) :- A float is a data type that represents a number with decimal points. It is used for more precise calculations involving fractions or continuous values.

3. Boolean (bool) :- A boolean is a data type that represents one of two possible values: True or False. It is commonly used for decision-making and logical operations.

### Q4. What is an expression made up of? What do all expressions do?

### Ans4. 
Expression is made up of operators and operands. Expressions do mathematical operation between operands used in a code with different type of operators to produce some other value.

### Q5.  This assignment statements, like spam = 10. What is the difference between an expression and a statement?

### Ans5. 
In an expression, we do mathematical operations of some values which gives some other value while in statement we are assigning some value to a word so that, we can use that value later in an expression.

### Q6. After running the following code, what does the variable bacon contain?
bacon = 22

bacon + 1

### Ans6.  
After running this code, variable bacon still gives same value of 22 because we didnt assign 2nd code to the variable.

In [1]:
bacon = 22

bacon + 1

bacon

22

### Q7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

### Ans7.
1. 'spam' + 'spamspam'

Expression uses the + operator to concatenate two strings.

When you concatenate 'spam' with 'spamspam', the result is a single string where the second string is appended to the end of the first string.

In [2]:
'spam' + 'spamspam'

'spamspamspam'

2. 'spam' * 3

Expression uses the '*' operator to repeat the string 'spam' three times. The * operator, when used with strings, repeats the string the specified number of times.

In [3]:
'spam' * 3

'spamspamspam'

### Q8. Why is eggs a valid variable name while 100 is invalid?

### Ans8. 
Beacause variable names should start with numbers. It should always start with an alphabet.

### Q9. What three functions can be used to get the integer, floating-point number, or string version of a value?

### Ans9. 
There are 3 functions -

1. int()

2. float()

3. str()

In [4]:
#example

value = 700

print(int(value), float(value), str(value))

700 700.0 700

### Q10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [5]:

'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [7]:
# we can fix it by converting  99 into string by adding ('')

'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'